In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
dataset = 'drive/MyDrive/Bangkit 2022/Capstone Project/dice_com-job_us_sample.csv'

In [4]:
df1 = pd.read_csv(dataset)
#df1.head()

,advertiserurl,company,employmenttype_jobstatus,jobdescription,jobid,joblocation_address,jobtitle,postdate,shift,site_name,skills,uniq_id
0,https://www.dice.com/jobs/detail/AUTOMATION-TE...,"Digital Intelligence Systems, LLC","C2H Corp-To-Corp, C2H Independent, C2H W2, 3 M...",Looking for Selenium engineers...must have sol...,Dice Id : 10110693,"Atlanta, GA",AUTOMATION TEST ENGINEER,1 hour ago,Telecommuting not available|Travel not required,NaN,SEE BELOW,418ff92580b270ef4e7c14f0ddfc36b4
1,https://www.dice.com/jobs/detail/Information-S...,University of Chicago/IT Services,Full Time,The University of Chicago has a rapidly growin...,Dice Id : 10114469,"Chicago, IL",Information Security Engineer,1 week ago,Telecommuting not available|Travel not required,NaN,"linux/unix, network monitoring, incident respo...",8aec88cba08d53da65ab99cf20f6f9d9
2,https://www.dice.com/jobs/detail/Business-Solu...,"Galaxy Systems, Inc.",Full Time,"GalaxE.SolutionsEvery day, our solutions affec...",Dice Id : CXGALXYS,"Schaumburg, IL",Business Solutions Architect,2 weeks ago,Telecommuting not available|Travel not required,NaN,"Enterprise Solutions Architecture, business in...",46baa1f69ac07779274bcd90b85d9a72
3,https://www.dice.com/jobs/detail/Java-Develope...,TransTech LLC,Full Time,Java DeveloperFull-time/direct-hireBolingbrook...,Dice Id : 10113627,"Bolingbrook, IL","Java Developer (mid level)- FT- GREAT culture,...",2 weeks ago,Telecommuting not available|Travel not required,NaN,Please see job description,3941b2f206ae0f900c4fba4ac0b18719
4,https://www.dice.com/jobs/detail/DevOps-Engine...,Matrix Resources,Full Time,Midtown based high tech firm has an immediate ...,Dice Id : matrixga,"Atlanta, GA",DevOps Engineer,48 minutes ago,Telecommuting not available|Travel not required,NaN,"Configuration Management, Developer, Linux, Ma...",45efa1f6bc65acc32bbbb953a1ed13b7

In [ ]:
#df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22000 entries, 0 to 21999
Data columns (total 12 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   advertiserurl             22000 non-null  object
 1   company                   21950 non-null  object
 2   employmenttype_jobstatus  21770 non-null  object
 3   jobdescription            22000 non-null  object
 4   jobid                     22000 non-null  object
 5   joblocation_address       21997 non-null  object
 6   jobtitle                  22000 non-null  object
 7   postdate                  22000 non-null  object
 8   shift                     21643 non-null  object
 9   site_name                 3490 non-null   object
 10  skills                    21957 non-null  object
 11  uniq_id                   22000 non-null  object
dtypes: object(12)
memory usage: 2.0+ MB

In [5]:
df1=df1.dropna()

In [ ]:
#df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3417 entries, 96 to 18359
Data columns (total 12 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   advertiserurl             3417 non-null   object
 1   company                   3417 non-null   object
 2   employmenttype_jobstatus  3417 non-null   object
 3   jobdescription            3417 non-null   object
 4   jobid                     3417 non-null   object
 5   joblocation_address       3417 non-null   object
 6   jobtitle                  3417 non-null   object
 7   postdate                  3417 non-null   object
 8   shift                     3417 non-null   object
 9   site_name                 3417 non-null   object
 10  skills                    3417 non-null   object
 11  uniq_id                   3417 non-null   object
dtypes: object(12)
memory usage: 347.0+ KB

In [ ]:
#df1.to_csv('filtered_data.csv', index=False)

In [7]:
from sklearn.feature_extraction.text import TfidfVectorizer

tdif = TfidfVectorizer(stop_words='english')
df1['jobdescription'] = df1['jobdescription'].fillna('')

In [ ]:
#df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3417 entries, 96 to 18359
Data columns (total 12 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   advertiserurl             3417 non-null   object
 1   company                   3417 non-null   object
 2   employmenttype_jobstatus  3417 non-null   object
 3   jobdescription            3417 non-null   object
 4   jobid                     3417 non-null   object
 5   joblocation_address       3417 non-null   object
 6   jobtitle                  3417 non-null   object
 7   postdate                  3417 non-null   object
 8   shift                     3417 non-null   object
 9   site_name                 3417 non-null   object
 10  skills                    3417 non-null   object
 11  uniq_id                   3417 non-null   object
dtypes: object(12)
memory usage: 347.0+ KB

In [8]:
tdif_matrix = tdif.fit_transform(df1['jobdescription'])

In [ ]:
#tdif_matrix.shape

(3417, 34094)

In [11]:
from sklearn.metrics.pairwise import linear_kernel

cosine_sim = linear_kernel(tdif_matrix, tdif_matrix)
indices = pd.Series(df1.index, index=df1['jobtitle']).drop_duplicates()

In [12]:
def get_recommendation(title, cosine_sim=cosine_sim):
  idx = indices[title]
  sim_scores = list(enumerate(cosine_sim[idx]))
  sim_scores = sorted(sim_scores, key=lambda X:X[1], reverse=True)
  sim_scores = sim_scores[1:16]
  tech_indices = [i[0] for i in sim_scores]
  return df1['jobtitle'].iloc[tech_indices]

In [13]:
get_recommendation('Lead DevOps Engineer')

15365                                       Java Developer
1248                                         Web Developer
15721                                        PHP Developer
856                                         Perl Architect
2194        Java Automation Engineer with Selenium AND UFT
514                                         Java developer
15926    Top Secret (TS/SCI) Clearance - Senior PHP Dev...
601                                         java developer
1708                                Web Designer/Developer
359      Senior Software Engineer - Growing Company & A...
1893                                  Sr Angular Developer
685                                      Software Engineer
1931        PHP Developer - Urgent, Dallas - Laravel, Zend
18319                           Java/J2EE PL-SQL Developer
874        PHP/ Magento Developer - PHP/ Magento Developer
Name: jobtitle, dtype: object